@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

:root {
  --main-btn-color: #fa5e16;
  --hover-btn-darker: #071538;
  --hover-btn-lighter: #da5f26;
  --hover-snd-color: #43588d;
  --text-primary: #071538;
  --text-secondary: #fa5e16;
  --bold-font: 700;
  --regular-font: 400;
  --light-font: 300;
}

*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

/* p {
  margin: 0.7rem 0;
} */

h1,
h2,
h3 {
  padding-bottom: 1.2rem;
}

/*----------------------- Utility classes ------------------ */

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: var(--main-btn-color);
  border: none;
  color: #f4f4f4;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: background 0.5s;
}

.btn-lighter {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: var(--main-btn-color);
  border: none;
  color: #f4f4f4;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: background 0.5s;
}

.btn:hover {
  background: var(--hover-btn-darker);
}

.btn-lighter:hover {
  background: var(--hover-btn-lighter);
}

.text-primary {
  color: var(--text-primary);
  font-weight: var(--bold-font);
}

.text-secondary {
  color: var(--text-secondary);
  font-weight: var(--bold-font);
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.bg-light {
  background: #f4f4f4;
  color: var(--text-primary);
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 6rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.l-heading {
  font-size: 8rem;
  letter-spacing: 8px;
}

.sl-heading {
  font-size: 24px;
  font-weight: var(--light-font);
  color: var(--text-secondary);
}

.sl-heading-sub {
  font-size: 2rem;
}
.sub-heading {
  font-size: 1.5rem;
  font-weight: var(--regular-font);
  padding-top: 10px;
}

.l-paragraph {
  font-size: 1.4rem;
  font-weight: var(--light-font);
}

.stitle-module {
  display: flex;
}

.stitle-module > .headings {
  padding-left: 1rem;
}

img.thumb {
  width: 50px;
  height: 67px;
  padding-top: 0.4rem;
}

/*---------------------------------- navbar -------------------------*/

#navbar {
  border-bottom: #cccccc solid 2px;
  max-height: 20vh;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  overflow: hidden;
}

#navbar .navbar-container {
  display: flex;
  max-width: 1100px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  overflow: hidden;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
}
#navbar .navbar-container ul li a {
  padding: 0.75rem 0;
  margin: 0 1.5rem;
  position: relative;
  letter-spacing: 2px;
  transition: border 0.2s ease-in, background 0.2s ease-in;
}
#navbar .navbar-container ul li:last-child a {
  margin-right: 0px;
}

#navbar .navbar-container ul li:first-child a {
  margin-left: 0px;
}

#navbar .navbar-container ul li a::before,
#navbar .navbar-container ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--text-secondary);
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

#navbar .navbar-container ul li a::before {
  top: 0;
  transform-origin: left;
}
#navbar .navbar-container ul li a::after {
  bottom: 0;
  transform-origin: right;
}

#navbar .navbar-container ul li a:hover::before,
#navbar .navbar-container ul li a:hover::after {
  transform: scaleX(1);
}

/*-------------------------------- showcase -------------------------- */

#showcase {
  background: url(../img/assets/monochrome-photography-of-people-shaking-hands-814544.jpg)
    no-repeat center center/cover;
  color: #f4f4f4;
  height: 100vh;
  overflow: hidden;
}

.l-heading {
  line-height: 1;
  font-weight: var(--light-font);
}

#showcase .container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}
#showcase .container .showcase-animation {
  text-align: left;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 465ms ease-in 500ms, transform 568ms ease-in 500ms;
}

#showcase .container .showcase-animation.primary-transition {
  opacity: 1;
  transform: translateY(0%);
}

/*-------------------------------- What we do section ----------------*/

#what-we-do-section {
  background: #fff;
}

#what-we-do-section > .container {
  position: relative;
  overflow: visible;
}

#what-we-do-section .container .image-container {
  position: absolute;
  left: 0;
}
#what-we-do-section .container .items-container {
  position: absolute;
  top: 0;
  left: 52%;
  padding-top: 10%;
}

#what-we-do-section .container .stitle {
  display: flex;
}
#what-we-do-section .container .stitle .sheading {
  padding-left: 1rem;
}

#what-we-do-section .what-we-do-img {
  height: auto;
  box-shadow: 1.5rem 2rem 0px var(--text-secondary);
}

#what-we-do-section .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  row-gap: 18px;
  padding-top: 1.6rem;
}
#what-we-do-section .container .items svg {
  color: var(--text-secondary);
  font-size: 3rem;
  transition: transform 462ms ease 0s;
}

#what-we-do-section .container .items svg:hover {
  transform: translateY(-20px);
}

/*-------------------------- video-showcase-section --------------------- */

#video-showcase {
  background: #e1e1e1;
  margin-top: 6rem;
  position: relative;
  padding: 96px 0 87px;
}
#video-showcase .container .why-choose-us-area .stitle {
  display: flex;
}

#video-showcase .why-choose-us-bg-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

/* videoPlayer not visible   */
body .video-player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 500ms ease-in 0s;
  z-index: 1;
}
body .video-player.toPlay {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 998;
}
/* video player control esc functionality */

body .video-player .control {
  position: relative;
}

body .video-player .control .esc-video {
  position: absolute;
  top: 10%;
  right: 0;
  color: #fff;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  opacity: 0.8;
  z-index: 2;
}

/* end video is played */

#video-showcase .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#video-showcase .play-button button {
  background: var(--text-secondary);
  padding: 2rem 2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

#video-showcase .play-button button::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--text-secondary);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse-border 1500ms ease-out infinite;
}

#video-showcase .play-button svg {
  color: #fff;
  font-size: 4rem;
  display: inline-block;
}

#video-showcase .container p {
  width: 40%;
}

#video-showcase > .container .ceo-signature-area {
  margin: 4% 0px 0px;
}

#video-showcase .ceo-signature-area .ceo-name,
#video-showcase .ceo-signature-area .ceo-role {
  padding: 2px 0px;
}

#video-showcase .ceo-signature-area .ceo-name {
  font-size: 1.5rem;
  font-weight: var(--light-font);
}

#video-showcase .ceo-signature-area .ceo-role {
  color: var(--text-secondary);
  font-size: 1rem;
}

/* -----------------get-started-section---------------------- */

/* animations */

@keyframes pulse-border {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
